version: "3.9"
services:
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: demodb

  mock-server:
    build: ./mock-server
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  pipeline-service:
    build: ./pipeline-service
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - mock-server
    environment:
      DATABASE_URL: postgresql://postgres:admin123@postgres:5432/demodb
